/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
*/

$grid-column: 12;

@for $i from 1 through $grid-column{
	.grid-#{$i} {
		width: 100% / $grid-column * $i;
		float:left;
	}
} 
 