button{
    background: 0 0;
    color:#fff;
    border: none;
    padding: 0 5px;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
}

button:disabled{
    opacity:0.2;
}