/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

aside{
    width: 240px;
    height: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-right: 1px solid #e0e0e0;
    background: #fafafa; 
    position: absolute; 
    top:67px;

    a{
            padding: 16px 40px;
            color: #757575;
            display:inline-block;
            font-size: em(14);
            line-height: 24px;
            opacity: .87;
            text-decoration: none;
            width:100%;
            transition: all ease 0.4s;

            &:hover{
                background-color: #e0e0e0;
            }
    }

    .title-menu{
        display: block;
        color: #fff;
        padding: 10px 25px;
    } 
}
