/*
|--------------------------------------------------------------------------
| Content Sidebar
|--------------------------------------------------------------------------
*/

.page-content{
    padding:20px;
}

/*
|--------------------------------------------------------------------------
| Content Sidebar
|--------------------------------------------------------------------------
*/

.content-sidebar{
   padding-left:240px;

       .container{
           width:100%;
       }
}
 
/*
|--------------------------------------------------------------------------
| Page Title Header
|--------------------------------------------------------------------------
*/

.page-title{
    border-bottom: 1px solid silver;
    font-size: em(13);
    padding: 10px 25px
}

