/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/


header{
    background-color: #d65261; 
    color: rgb(255,255,255);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2);
    height:64px;
    margin-bottom: 2px; 
    position: fixed;
    width: 100%;
    z-index: 2;

    a{
        color:#fff;
    }

    .header-title{ 
        font-size: 1.3em;
        padding: 18px 38px; 
    }
}





