/*
|--------------------------------------------------------------------------
| List
|--------------------------------------------------------------------------
*/

.list-box{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  article{
    min-height: 165px;
    margin-bottom:20px;
    flex-basis: 24%;
    margin-right: 16px;
  }
}


/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
*/

.card{
    text-align:center;
    background-color: #fff;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;

    .card-title{
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
      font-size: 1.1em;
    }
    
    .card-thumb{
      position: relative;
      background:rgba(214, 214, 214, 0.7215686274509804);
    }
    
    .card-content{
        font-size: 0.95em;
        background:#fff;
        padding: 24px;
        border-radius: 0 0 2px 2px;
        text-align: left;

        span{
          text-transform: capitalize;
        }
    }
    
    .card-action{ 
      background-color: inherit;
      border-top: 1px solid rgba(160,160,160,0.2);
      position: relative;
      padding: 16px 24px;
    
      a{
        color:#fff;
      }
    }
}
